@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


:root {
  --primary-color: #f755c1;
  --primary-color-dark: #ea33b3;
  --secondary-color: #ea33b3;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

 /* HOME */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6d6ec;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  text-shadow:2px 2px 3px #fff8df;
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.education {
  background-color: var(--primary-color);
  color: #ffffff;
}

.education:hover {
  background-color: var(--primary-color-dark);
}

.education a{
  color: #ffffff;
}

.biodata {
  color: var(--primary-color);
}

.biodata:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

.biodata a:hover {
  color: white;
}


.biodata a{
  color: var(--primary-color-dark);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
/* HOME END */

/* EDUCATION */
.box-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 0rem;
}

.box-container .box{
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 2rem;
  border-left: .2rem solid #fff;
  position: relative;
}

.box-container .box span{
  font-size: 1.3rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 2.5rem;
}

.box-container .box h3{
  font-size: 2rem;
  color: #000000;
  padding-top: 1.5rem;
}

.box-container .box p{
  font-size: 1.4rem;
  color: #666565;
  padding: 1rem 0;
}
/* EDUCATION END  */

/* BIODATA */

.imagebio{
  display: grid;
  place-items: center;
}

.imagebio img {
  width: min(20rem, 90%);
  border-radius: 100%;
}

.nama{
  font-size: 1.4rem;
  color: var(--text-dark);
}

.bio{
  font-size: 1rem;
  color: #666565;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profil{
  margin-top: 100px;
}
/* BIODATA END */

/* CONTACT */
.btn-c {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  margin-top: 150px;
}

.btn-c button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5rem;
}

.email {
  background-color: var(--primary-color);
  color: #ffffff;
}

.email:hover {
  background-color: var(--primary-color-dark);
}

.email a{
  color: #ffffff;
}

.whatsapp {
  background-color: var(--primary-color);
  color: #ffffff;
}

.whatsapp:hover {
  background-color: var(--primary-color-dark);
}

.whatsapp a{
  color: #ffffff;
}

.instagram {
  background-color: var(--primary-color);
  color: #ffffff;
}

.instagram:hover {
  background-color: var(--primary-color-dark);
}

.instagram a{
  color: #ffffff;
}
/* CONTACT END*/

/* GALLERY*/

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper .wide{
  grid-column: span 2;
}

/* GALLERY END*/